In [31]:
# reading csv file
import pandas as pd
import numpy as np
data = pd.read_csv("https://raw.githubusercontent.com/AdityaNarayan23/DAX-Freshers-Training/main/healthcare-dataset-stroke-data.csv")
print(data)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

In [8]:
# data exploration - Printing total no of records in dataframe
print("Total no of records: ",len(data))
# shape returns the dimensionality of dataset i.e. number of rows and columns which can also be used for 
#calculating number of records.
print("Dimensionality of dataset: ",data.shape)

Total no of records:  5110
Dimensionality of dataset:  (5110, 12)

In [14]:
#Data Exploration - Counting null values in dataframe
print(data.isnull().sum().sum())

201

In [22]:
# Data Exploration - Mean of all columns
cols = ['age','avg_glucose_level','bmi']
# print(cols)
print(data[cols].mean())

age                   43.226614
avg_glucose_level    106.147677
bmi                   28.893237
dtype: float64

In [23]:
# Data Exploration - Median of all columns
print(data[cols].median())

age                  45.000
avg_glucose_level    91.885
bmi                  28.100
dtype: float64

In [24]:
# Data Exploration - Standard Deviation of all columns
print(data[cols].std())

age                  22.612647
avg_glucose_level    45.283560
bmi                   7.854067
dtype: float64

In [29]:
# 2	Check if “BMI” column has null values? what is the percentage of null values ?
#use data engineering method to fill the null values.
print("No of Null values in BMI column: ",data['bmi'].isnull().sum())
bmi_null_count = data['bmi'].isnull().sum()
print("Percentage of null values in BMI column: ", (bmi_null_count/len(data))*100)

# filling the null values
data.fillna(data['bmi'].mean())

No of Null values in BMI column:  201
Percentage of null values in BMI column:  3.9334637964774952

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [45]:
# Remove outliers from any two numerical columns using any appropriate ML technique
# will remove outliers using the IQR.

# i. calculating IQR for the column
Q1 = data['bmi'].quantile(0.25)
Q3 = data['bmi'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)
print("Old Shape: ", data.shape)
upper = np.where(data['bmi'] >= (Q3+1.5*IQR))
# Lower bound
lower = np.where(data['bmi'] <= (Q1-1.5*IQR))
print(upper)
print(lower)
data.drop(upper[0], inplace = True)
data.drop(lower[0], inplace = True)
print("New Shape: ", data.shape)

9.200000000000003
Old Shape:  (4997, 12)
(array([ 359,  406,  408, 2335, 2824, 3513, 3833, 4533, 4587, 4990],
      dtype=int64),)
(array([], dtype=int64),)

KeyError: '[4533] not found in axis'